@import '../variables';
@import '../mixins';

:host {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;

  background: $gray13;
  flex: 1;

  border-radius: 10px;
}

.item-title {
  font-size: 24px;
  align-self: stretch;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray10;
}

.message {
  font-size: 16px;
  font-weight: 600;
  background: $color-secondary;
  color: white;

  padding: 2px 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.content {
  font-size: 36px;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
  flex-flow: row nowrap;
  flex: 1;
  align-self: stretch;

  @include animate-opacity(250ms);
}

.input {
  font-weight: 300;
}

.grams {
  color: #43BA31;
}

loading-overlay {
  align-self: center;
  height: 100%;
  background: $gray10;
  border-radius: 10px;
}

.measurement-options,
.weights,
.nutrition {
  display: flex;
  flex-flow: column;
}

.measurement-options {
  width: 25%;
}

.measurement {
  padding: 10px;
  border-bottom: 1px solid $gray9;
  border-right: 5px solid $gray9;
  cursor: pointer;
  min-height: 84px;

  transition: border-color 200ms;

  &:last-of-type {
    border-bottom: none;
  }
  &.selected {
    border-right-color: $color-primary;
  }
  &.default .amount {
    font-size: 26px;
    font-weight: 400;
  }

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.measurement-description {
  font-size: 18px;
}

.measurement .amount {
  font-size: 16px;
  font-weight: 300;
}

.weights {
  width: 45%;
  margin-right: 50px;
}

.grams,
.ounces {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 108px;
}

.weights-title {
  font-size: 16px;
  font-weight: 300;
  margin-left: auto;
  color: $gray5;
  margin-top: 10px;
}

.line {
  height: 1px;
  width: 60%;
  align-self: center;
  background: $gray8;
}

.nutrition {
  flex: 1;
  margin-top: 10px;
}

.nutrient {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-around;

  border-bottom: 1px solid $gray8;
  font-size: 20px;

  flex: 1 0 auto;
  max-height: 64px;

  .label {
    font-weight: 300;
    text-transform: uppercase;
    color: $gray5;
    font-size: 14px;
  }
}

.calories {
  font-size: 36px;
}

.percent {
  color: $gray7;
  font-weight: 300;
  margin-left: 5px;
}

@media (max-width: 425px) {
  .content {
    flex-flow: column;
  }

  .measurement-options {
    flex-flow: row;
    overflow: auto;
    width: auto;
  }

  .measurement {
    border-right: 1px solid $gray9;
    border-bottom: 3px solid $gray9;
    max-height: 64px;
    min-height: unset;
    flex-flow: row;

    &:last-of-type {
      border-right: none;
      border-bottom: 3px solid $gray9;
    }

    &.selected {
      border-right-color: $gray9;
      border-bottom-color: $color-primary;
    }

    &.default .amount {
      font-size: 26px;
      font-weight: 400;
    }
  }

  .weights {
    flex-flow: row;
    .grams,
    .ounces {
      margin-left: 20px;
    }
  }

}
