@import './variables';

@import url('https://fonts.googleapis.com/css?family=Neucha|Open+Sans');
@import url("https://use.typekit.net/sdw3xtr.css");

html, body {
  height: 100%;
  margin: 0;
  font-family: "effra",sans-serif;
  //-webkit-font-smoothing: antialiased;
  overflow: hidden;
  box-sizing: border-box !important;
  background-image: url("assets/img/background.jpg");
  background-size:cover;
}

* {
  box-sizing: border-box;
}

input {
  padding: 3px;
  border: 1px solid $gray8;
  outline: none;
  font-family: "effra",sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 0 1px rgba(0,0,0,0.3);
}

app {
  display: flex;
  height: 100%;
}
