//COLORS
$light-black-blue: #485762;
$black: #000000;
$gray1: #2f2f2f;
$gray2: #3a3a3a;
$gray3: #4b4b4b;
$gray4: #5c5c5c;
$gray5: #777777;
$gray6: #979797;
$gray7: #a8a8a8;
$gray8: #c5c5c5;
$gray9: #d8d8d8;
$gray10: #e2e2e2;
$gray12: #eaeaea;
$gray13: #f4f4f4;
$gray14: #f6f6f6;
$gray15: #fafafa;
$gray16: #fefefe;
$white: #ffffff;

$color-primary: #FF7F00;	// Main Primary color */
$color-primary-light: #FFD1A4;
$color-primary-highlight: #FFB770;
$color-primary-med: #D96C00;
$color-primary-dark: #A75300;

$color-secondary: #FFB100;	// Main Secondary color (1) */
$color-secondary-light: #FFE3A4;
$color-secondary-highlight: #FFD370;
$color-secondary-med: #D99700;
$color-secondary-dark: #A77400;

$color-secondary: #FF1E00;	// Main Secondary color (2) */
$color-secondary-light: #FFAEA4;
$color-secondary-highlight: #FF8170;
$color-secondary-med: #D91900;
$color-secondary-dark: #A71300;

$color-complement: #07D0FF;	// Main Complement color */
$color-complement-light: #A6EEFF;
$color-complement-highlight: #74E5FF;
$color-complement-med: #006D86;
$color-complement-dark: #005467;
